.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__practice-btn {
  padding: 12px 16px 14px;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  margin-bottom: 40px;
}

.gallery__practice-btn:hover {
  background:
    linear-gradient(0deg, #1a1a1a, #1a1a1a),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 55.81%,
      rgba(255, 255, 255, 0.3) 100%
    );

  background-blend-mode: overlay;
}

.gallery__new-card-btn {
  cursor: pointer;
  width: 325px;
  height: 205px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  background-color: #d9d9d9;
  border: none;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

.wrapping-row__display-content {
  display: contents;
}
